body {
  margin: 0;
}

main {
  width: 100%;
  max-width: 1600px; /* Increase the width limit to allow for larger content */
  padding: 20px; /* Add padding for spacing */
  margin: 0 auto; /* Center the main section horizontally */
  display: flex;
  flex-direction: row; /* Adjust flex direction to fit cards */
  flex-wrap: wrap; /* Ensure cards wrap to the next row if necessary */
  gap: 24px; /* Add more space between elements */
  justify-content: center; /* Center-align all child elements */
  align-items: flex-start; /* Align items at the top */
  min-height: calc(100vh - 100px); /* Expand height to fill more of the viewport */
}


main > section {
  margin: 0;
}

.header-logo-container {
  display: none;
}

.logo-container {
  max-width: 375px;
  margin: 0 auto; /* Center horizontally, no vertical margin */
}

.title-container {
  text-align: center;
  font-size: clamp(2.4rem, 10vw, 10.2rem);
  font-weight: 500;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.login h1 {
  font-size: clamp(3.2rem, 3vw, 4.8rem);
  margin: 10px 0;
}

.login > p {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 14px 0 0px;
}

.login label {
  font-size: var(--font-reg);
  margin-bottom: 6px;
}

.login input {
  font-size: var(--font-l);
  padding: 2px 4px;
}

.login .btn {
  align-self: flex-start; /* Move button to the far left */
  margin-left: 0;
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {
  main {
    justify-content: space-around;
  }

  main > section {
    width: 40%;
  }

  .login {
    border: var(--borders);
    padding: 20px;
    border-radius: var(--card-border-radius);
    box-shadow: var(--card-box-shadow);
    width: 100%;
  }

  .logo-container {
    max-width: 520px;
  }
}

.login-question {
  margin-top: 20px;
  font-size: var(--font-reg);
}
